// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #FFF;
@light-gray: #999BB7;
@gray: #696982;
@dark-gray: #292B43;
@very-dark-gray: #212135;

@cyan: #0fdebd;
@blue: #288ad6;
@purple: #ff708e;
@green: #16c98d;
@red: #fa5e5b;
@orange: #ffc83f;
@light-orange: #feef6d;

@softblue: #8abee5;
@softgreen: #c7e6aa;
