// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #EEE;
@light-gray: #AAA3D5;
@gray: darken(@light-gray, 20%);
@dark-gray: #1B1733;
@very-dark-gray: darken(@dark-gray, 8%);

@cyan: #2ADDBD;
@blue: #2291E5;
@purple: #FF6585;
@green: #0FD08A;
@red: #F35252;
@orange: #FDC549;
@light-orange: #FFEE62;

@softblue: #87C2EC;
@softgreen: #C1EC98;
